table{
    width: 50;
    line-height: 1.5;
    border: solid 3px rgb(134, 14, 14);
}

thead{
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: comic Sans Ms;
    text-align: center;
    border: 2px solid darkblue;
    
}

td{
    border: 1px;
    font-family: Verdana;
    font-size: 15px;
}